.home{
    display: flex;
    flex-direction: column;
    flex: wrap;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.homeTitle{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Kumbh Sans, sans-serif;
}

.addButtonFixed{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
    background-color: #5d1049;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.addButtonFixed:active{
    background-color: #5d1049;
    opacity: 0.8;
}

.addButton{
    background-color: #5d1049;
    font-size: 24px;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
@media screen and (max-width: 480px) {
    .home {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        padding: 0;
    }

    .homeTitle{
        margin-bottom: 10px;
        font-size: 24px;
    }

    .addButtonFixed{
        bottom: 20px;
        right: 20px;
    }

    .addButton{
        font-size: 20px;
        padding: 5px;
    }
}